<!DOCTYPE html>
-
  const meta = {
    title: 'Artik Man — frontend-developer',
    full_name: 'Artik Man',
    name: 'Artik',
    description: 'Frontend developer with over 6 years of experience. Current stack: TypeScript + Angular',
    url: 'https://artik.me',
    card: 'styles/images/icons/card.png',
    color: '#10272f'
  };
  const iconsSizes = [16, 48, 72, 76, 96, 120, 128, 144, 152, 180, 192, 256, 384, 512];
  const contacts = [
    {
      url: 'tel:+79062824201',
      label: 'Phone',
      iconClass: 'phone.svg',
      text: '+7 906 282 42 01'
    },
    {
      url: 'mailto:mail@artik.me',
      label: 'Email',
      iconClass: 'email.svg',
      text: 'mail@artik.me'
    },
    {
      url: 'https://github.com/Artik-Man',
      label: 'GitHub',
      iconClass: 'github.svg',
      text: 'GitHub',
      fullText: 'github.com/Artik-Man'
    },
  ];
  const projects = [
    {
      title: 'HTML Practice',
      url: 'https://artik-man.github.io/HTML-Practice/',
      picture: 'html-practice',
      contribution: '[Personal project] This is book is for my students. Front end development, print/book layout.',
      techList: ['WebPack', 'TypeScript', 'LESS', 'Pug']
    },
    {
      title: 'Material Theme Creator',
      url: 'https://artik-man.github.io/material-theme-creator/',
      picture: 'material-theme-creator',
      contribution: '[Personal project] This library is designed to converting Angular Material themes to CSS Custom Properties (CSS Variables). In addition, you can create a Material-like theme from one color.',
      techList: ['SCSS', 'CSS Custom Properties', 'Angular Material']
    },
    {
      title: 'Kaspersky Lab: Tailored Intelligence Reporting System',
      picture: 'kaspersky',
      contribution: 'Front end development of internal data collection/analysis portal for the analytical department.',
      techList: ['Angular', 'TypeScript', 'WebSocket']
    },
    {
      title: 'WebSocket Post Server',
      url: 'https://github.com/Artik-Man/ws-post-server',
      picture: 'wsps',
      contribution: '[Personal project] Back end development of simple WebSocket Server',
      techList: ['Node.js', 'WebSocket', 'Express.js']
    },
    {
      title: 'Hiddens',
      url: 'https://github.com/Artik-Man/hiddens',
      picture: 'hiddens',
      contribution: '[Personal project] Front end development of simple chat, based on WebSocket Post Server',
      techList: ['Angular', 'WebSocket', 'Hammer.js']
    },
    {
      title: 'Kaspersky Lab: Managed Protection',
      picture: 'kmp',
      contribution: 'Front end development of threat-hunting sequrity service.',
      techList: ['Angular', 'TypeScript', 'Webpack']
    },
    {
      title: 'Hashboard cabinet',
      url: 'https://new.hashboard.ru/cabinet/',
      picture: 'hashboard-cabinet',
      contribution: 'Front end development of #hashboard service. This web application uses client-side localization, HTML5 Audio/Video, the combination of AngularJS + RequireJS + REST API.',
      techList: ['AngularJS', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard player',
      url: 'https://new.hashboard.ru/play/?login=artik@hb.ru',
      picture: 'hashboard-player',
      contribution: 'Front end development of #hashboard service. This web application uses HTML5 Video and Audio, handles internet-connection troubles. Web site has a fluid layout.',
      techList: ['jQuery', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard',
      url: 'https://hashboard.ru',
      picture: 'hashboard',
      contribution: 'Front end development of #hashboard service. Cross-browser code, responsive layout, Website localization.',
      techList: ['jQuery', 'Bootstrap', 'LESS']
    },
    {
      title: 'Pricereporter',
      url: 'http://primepix.ru/portfolio/mgrabber/',
      picture: 'pr',
      contribution: 'Front end web development and technical support of a commercial site',
      techList: ['jQuery', 'Bootstrap', 'Bitrix']
    },
    {
      title: 'Artik.me',
      url: 'https://github.com/Artik-Man/artik.me',
      picture: 'artik',
      contribution: '[Personal project] Full cycle of development of web page: from design to caching with ServiceWorker',
      techList: ['ServiceWorker', 'CSS: prefers-color-scheme', 'Pug']
    }
  ];

mixin project_picture(project)
  picture(aria-hidden="true")
    source(srcset="styles/images/projects/" + project.picture + ".webp", type="image/webp")
    source(srcset="styles/images/projects/" + project.picture + ".jpg", type="image/jpeg")
    img(src="styles/images/projects/" + project.picture + ".jpg", alt=project.title, loading="lazy", width="600", height="420")

html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    title=meta.title
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="CV, Mangasaryan, Artik, Artashes, frontend, front-end, Curriculum vitae, резюме, разработчик, фронтенд, фронтендер, Артик, Арташес, Мангасарян")
    meta(name="title", content=meta.title)
    meta(name="author", content=meta.full_name)
    meta(name="description", content=meta.description)

    meta(property="og:image", content=meta.card)
    meta(property="og:image:width", content="1280")
    meta(property="og:image:height", content="640")
    meta(property="og:site_name", content=meta.title)
    meta(property="og:type", content="object")
    meta(property="og:title", content=meta.full_name)
    meta(property="og:url", content=meta.url)
    meta(property="og:description", content=meta.description)

    link(rel="manifest", href="manifest.json")

    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="application-name", content=meta.name)
    meta(name="apple-mobile-web-app-title", content=meta.name)
    meta(name="theme-color", content=meta.color)
    meta(name="msapplication-navbutton-color", content=meta.color)
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="msapplication-starturl", content="index.html")

    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphone5_splash.png",     media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphone6_splash.png",     media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonexr_splash.png",    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonex_splash.png",     media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonexsmax_splash.png", media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphoneplus_splash.png",  media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipad_splash.png",        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro1_splash.png",    media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro3_splash.png",    media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro2_splash.png",    media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)")

    each size in iconsSizes
      link(sizes=(size + 'x' + size), href=("styles/images/icons/icon-" + (size + 'x' + size) + ".png"), rel="icon")
      link(sizes=(size + 'x' + size), href=("styles/images/icons/icon-" + (size + 'x' + size) + ".png"), rel="apple-touch-icon")

    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="./styles/fonts/yanone-kaffeesatz-v15-latin_cyrillic-200.woff2")
    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="./styles/fonts/roboto-v20-latin_cyrillic-300.woff2")
    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="./styles/fonts/roboto-v20-latin_cyrillic-regular.woff2")
    link(rel="stylesheet", href="./styles/styles.css")
  body
    .page
      header
        a.logo(href="./", aria-label=meta.title) AM
        button.switch-theme.off#theme-switcher(title="Change theme")
          span.rotator#theme-rotator

        each contact in contacts
          a(href=contact.url, aria-label=contact.label, rel="noreferrer")
            svg.icon(aria-hidden="true", xmlns="http://www.w3.org/2000/svg", width="20", height="20")
              use(href="./styles/sprite.svg#" + contact.iconClass)
            span.text=contact.text
      main

        h1.notranslate
          span ARTIK
          | &nbsp;
          span MAN
        p Frontend&mdash;developer

        .about
          .ava-box
            picture.ava
              source(srcset="styles/images/me.webp", type="image/webp")
              source(srcset="styles/images/me.png", type="image/png")
              img(src="styles/images/me.png", alt=meta.title, width="480", height="480")
          cite Heavy JavaScript-frameworks should be&nbsp;used only where necessary
          table
            //tr
            //  th Age
            //  td
            //    span#age 26 years
            tr
              th Commercial Experience
              td
                span#exp 6 years
            tr
              th Languages
              td
                span.nowrap Russian (native),
                <span> </span>
                span.nowrap English (Pre-Intermediate)
            tr
              th Current location
              td
                a.no-print-href(target="_blank", rel="noreferrer", href="https://www.google.com/maps/place/St+Petersburg,+Russia/@59.9390095,29.5303098,9z/data=!3m1!4b1!4m5!3m4!1s0x4696378cc74a65ed:0x6dc7673fab848eff!8m2!3d59.9342802!4d30.3350986")
                  svg.icon(viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", width="24", height="24")
                    use(href="./styles/sprite.svg#location.svg")
                  span Russia,&nbsp;
                    span.nowrap St. Petersburg
            tr
              th Current Job
              td
                | Frontend-developer at
                |
                a(href="https://kaspersky.com", target="_blank", rel="noreferrer") Kaspersky Lab.
                | <br> Author of
                |
                a(href="https://htmlacademy.ru/intensive/for-middle/angular" target="_blank", rel="noreferrer") the Course
                |
                | and Mentor at
                |
                a(href="https://htmlacademy.ru/", target="_blank", rel="noreferrer") HTML Academy

            each contact in contacts
              tr
                th=contact.label
                td
                  a.no-print-href(href=contact.url, aria-label=contact.label, rel="noreferrer")
                    svg.icon(viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg", aria-hidden="true", width="24", height="24")
                      use(href="./styles/sprite.svg#" + contact.iconClass)
                    span.text=(contact.fullText || contact.text)

        section
          h2.no-print Key skills
          ul.skills.notranslate
            li HTML
            li CSS
            li LESS
            li Pug
            li GIT
            li JavaScript
            li TypeScript
            li Angular
            li RxJS
            li NodeJS

        section
          h2 Experience
          ul.experience

            li.no-print
              h3 &nbsp;
              .job.no-point
                h4.title Career
              .edu.no-point
                h4.title Education

            li
              h3 2021

              .job.no-point
              .edu
                h4 Author of the Course
                  a(href="https://htmlacademy.ru/intensive/for-middle/angular" target="_blank", rel="noreferrer") "Angular for Experienced Developers"
                p
                  a(href="https://htmlacademy.ru/", target="_blank", rel="noreferrer")
                    b HTML Academy

            li
              h3 2020
                span.merge.reverse
                  svg(viewBox="0 0 70 70", xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="none", aria-hidden="true", width="10", height="10")
                    use(href="./styles/sprite.svg#merge.svg")

              .job.no-point
              .edu
                h4 Mentor
                p
                  a(href="https://htmlacademy.ru/", target="_blank", rel="noreferrer")
                    b HTML Academy
                p I teach HTML, CSS, and Javascript

            li.no-print
              h3 2019
                span.merge
                  svg(viewBox="0 0 70 70", xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="none", aria-hidden="true", width="10", height="10")
                    use(href="./styles/sprite.svg#merge.svg")
              .job
              .edu

            li
              h3 2018
              .job
                h4.notranslate
                  a(href="https://kaspersky.com", target="_blank", rel="noreferrer") Kaspersky Lab.
                p.notranslate Developer

              .edu
                h4 Master's degree
                p
                  a(href="https://narfu.ru", target="_blank", rel="noreferrer")
                    b Northern (Arctic) Federal University
                p Higher School of Information Technologies and Automated Systems
                p 2016 &mdash; 2018

            li
              h3 2017
                span.merge
                  svg(viewBox="0 0 70 70", xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="none", aria-hidden="true", width="10", height="10")
                    use(href="./styles/sprite.svg#merge.svg")
              .job
                h4.notranslate
                  a(href="https://luxoft.com", target="_blank", rel="noreferrer") Luxoft
                p.notranslate Senior Frontend Developer
              .edu

            li
              h3 2016
              .job
                h4.notranslate
                  a(href="https://hashboard.ru", target="_blank", rel="noreferrer") Hashboard
                p.notranslate Frontend Developer
              .edu
                h4 Bachelor's degree
                p
                  a(href="https://narfu.ru", target="_blank", rel="noreferrer")
                    b Northern (Arctic) Federal University
                p Institute of Mathematics, Information and Space Technologies <br>
                p 2012 &mdash; 2016

            li
              h3 2015
                span.merge
                  svg(viewBox="0 0 70 70", xmlns="http://www.w3.org/2000/svg", preserveAspectRatio="none", aria-hidden="true", width="10", height="10")
                    use(href="./styles/sprite.svg#merge.svg")
              .job.no-line
                h4.notranslate
                  a(href="http://primepix.ru", target="_blank", rel="noreferrer") PrimePix
                p.notranslate Junior Frontend Developer
              .edu

            li.no-print
              h3 2014
              .job.no-line
              .edu
                h4 Webmaster Courses

            li.no-print
              h3 2013
              .job.no-line
              .edu

            li.no-print
              h3 2012
              .job.no-line
              .edu
                h4.notranslate Initial commit
                p In 2012 I entered the university

        section
          h2 Portfolio

          ul.portfolio
            each project in projects
              li
                h3.notranslate
                  if project.url
                    a(href=project.url, target="_blank",  rel="noreferrer")=project.title
                  else
                    =project.title
                .description
                  .image.no-print
                    if project.url
                      a(href=project.url, target="_blank",  rel="noreferrer", aria-label=project.title)
                        +project_picture(project)
                    else
                      +project_picture(project)
                  h4.notranslate Contribution:
                  p= project.contribution
                  h4.notranslate Technologies:
                  ul.notranslate
                    each tech in project.techList
                      li=tech

    script(src="app.js", async)
