<!DOCTYPE html>
-
  var meta = {
    title: 'Artik Man — frontend-developer',
    full_name: 'Artik Man',
    name: 'Artik',
    description: 'Frontend developer with over 4 years of experience. Current stack: TypeScript + Angular',
    url: 'https://artik.me',
    card: 'styles/images/icons/card.png',
    color: '#10272f'
  };
  var iconsSizes = [16, 48, 72, 76, 96, 120, 128, 144, 152, 180, 192, 256, 384, 512];
  var contacts = [
    {
      url: 'tel:+79062824201',
      label: 'Phone',
      iconClass: 'icon_phone',
      text: '+7 906 282 42 01'
    },
    {
      url: 'mailto:mail@artik.me',
      label: 'Email',
      iconClass: 'icon_email',
      text: 'mail@artik.me'
    },
    {
      url: 'https://github.com/Artik-Man',
      label: 'GitHub',
      iconClass: 'icon_github',
      text: 'GitHub',
      fullText: 'github.com/Artik-Man'
    },
  ];
  var projects = [
    {
      title: 'HTML Practice',
      url: 'https://artik-man.github.io/HTML-Practice/',
      picture: 'html-practice',
      contribution: '[Personal project] This is book is for my students. Front end development, print/book layout.',
      techList: ['WebPack', 'TypeScript', 'LESS', 'Pug']
    },
    {
      title: 'Kaspersky: Tailored Intelligence Reporting System',
      picture: 'kaspersky',
      contribution: 'Front end development of internal data collection/analysis portal for the analytical department.',
      techList: ['Angular', 'TypeScript', 'WebSocket']
    },
    {
      title: 'WebSocket Post Server',
      url: 'https://github.com/Artik-Man/ws-post-server',
      picture: 'wsps',
      contribution: '[Personal project] Back end development of simple WebSocket Server',
      techList: ['Node.js', 'WebSocket', 'Express.js']
    },
    {
      title: 'Hiddens',
      url: 'https://github.com/Artik-Man/hiddens',
      picture: 'hiddens',
      contribution: '[Personal project] Front end development of simple chat, based on WebSocket Post Server',
      techList: ['Angular', 'WebSocket', 'Hammer.js']
    },
    {
      title: 'Kaspersky: Managed Protection',
      picture: 'kmp',
      contribution: 'Front end development of threat-hunting sequrity service.',
      techList: ['Angular', 'TypeScript', 'Webpack']
    },
    {
      title: 'Hashboard cabinet',
      url: 'https://new.hashboard.ru/cabinet/',
      picture: 'hashboard-cabinet',
      contribution: 'Front end development of #hashboard service. This web application uses client-side localization, HTML5 Audio/Video, the combination of AngularJS + RequireJS + REST API.',
      techList: ['AngularJS', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard player',
      url: 'https://new.hashboard.ru/play/?login=artik@hb.ru',
      picture: 'hashboard-player',
      contribution: 'Front end development of #hashboard service. This web application uses HTML5 Video and Audio, handles internet-connection troubles. Web site has a fluid layout.',
      techList: ['jQuery', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard',
      url: 'https://hashboard.ru',
      picture: 'hashboard',
      contribution: 'Front end development of #hashboard service. Cross-browser code, responsive layout, Website localization.',
      techList: ['jQuery', 'Bootstrap', 'LESS']
    },
    {
      title: 'Watches online shop «3–15»',
      url: 'http://primepix.ru/portfolio/3-15/',
      picture: 'm315',
      contribution: 'Front end web development, extension of bootstrap grid, CSS3-transitions.',
      techList: ['AngularJS', 'Bootstrap', 'Bitrix']
    },
    {
      title: 'Pricereporter',
      url: 'http://primepix.ru/portfolio/mgrabber/',
      picture: 'pr',
      contribution: 'Front end web development and technical support of a commercial site',
      techList: ['jQuery', 'Bootstrap', 'Bitrix']
    },
    {
      title: 'Artik.me',
      url: 'https://github.com/Artik-Man/artik.me',
      picture: 'artik',
      contribution: '[Personal project] Full cycle of development of web page: from design to caching with ServiceWorker',
      techList: ['ServiceWorker', 'CSS: prefers-color-scheme', 'Pug']
    }
  ];
html#html(lang="en")
  head
    meta(charset="UTF-8")
    title=meta.title
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="CV, Mangasaryan, Artik, Artashes, frontend, front-end, Curriculum vitae, резюме, разработчик, фронтенд, фронтендер, Артик, Арташес, Мангасарян")
    meta(name="title", content=meta.title)
    meta(name="author", content=meta.full_name)
    meta(name="description", content=meta.description)
    //- meta(itemprop="image", content=meta.card)

    meta(property="og:image", content=meta.card)
    meta(property="og:image:width", content="1280")
    meta(property="og:image:height", content="640")
    meta(property="og:site_name", content=meta.title)
    meta(property="og:type", content="object")
    meta(property="og:title", content=meta.full_name)
    meta(property="og:url", content=meta.url)
    meta(property="og:description" ,content=meta.description)

    link(rel="manifest", href="manifest.json")

    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="application-name", content=meta.name)
    meta(name="apple-mobile-web-app-title", content=meta.name)
    meta(name="theme-color", content=meta.color)
    meta(name="msapplication-navbutton-color", content=meta.color)
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="msapplication-starturl", content="index.html")

    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphone5_splash.png",    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphone6_splash.png",    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonexr_splash.png",   media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonex_splash.png",    media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphonexsmax_splash.png",media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipad_splash.png",       media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro1_splash.png",   media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro3_splash.png",   media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/ipadpro2_splash.png",   media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)")
    link(rel="apple-touch-startup-image", href="styles/images/splashscreens/iphoneplus_splash.png", media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)")

    each size in iconsSizes
      link(sizes=(size+'x'+size), href=("styles/images/icons/icon-"+(size+'x'+size)+".png"), rel="icon")
      link(sizes=(size+'x'+size), href=("styles/images/icons/icon-"+(size+'x'+size)+".png"), rel="apple-touch-icon")

    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2")
    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="https://fonts.gstatic.com/s/yanonekaffeesatz/v13/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIftodtWZd2GK.woff2")
    link(rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500%7CYanone+Kaffeesatz:200,300&display=swap&subset=cyrillic")

    link(rel="stylesheet", href="./styles/styles.css")
  body
    .page
      header
        a.logo(href="", aria-label=meta.title) AM
        button.switch-theme#theme-switcher(title="Change theme")
          span.rotator#theme-rotator

        each contact in contacts
          a(href=contact.url, aria-label=contact.label, rel="noreferrer")
            //- span.icon(aria-hidden="true", class=contact.iconClass)
            svg.icon
              use(xlink:href="#"+contact.iconClass)
            span.text=contact.text
      main

        h1
          span ARTIK
          | &nbsp;
          span MAN
        p Frontend&mdash;developer

        .about
          .ava-box
            picture.ava
              source(srcset="styles/images/me.webp", type="image/webp")
              source(srcset="styles/images/me.png", type="image/png")
              img(src="styles/images/me.png", alt=meta.title)
          cite Heavy JavaScript-frameworks should be&nbsp;used only where necessary
          table
            tr
              th Age
              td 
                span#age 25 years
            tr
              th Commercial Experience
              td
                span#exp 4.5 years
            tr
              th Languages
              td 
                span.nowrap Russian (native),
                span 
                span.nowrap English (Pre-Intermediate)
            tr
              th Current location
              td
                a.no-print-href(target="_blank", rel="noreferrer", href="https://www.google.com/maps/place/St+Petersburg,+Russia/@59.9390095,29.5303098,9z/data=!3m1!4b1!4m5!3m4!1s0x4696378cc74a65ed:0x6dc7673fab848eff!8m2!3d59.9342802!4d30.3350986")
                  span.icon.icon_location
                  span Russia,&nbsp;
                    span.nowrap St. Petersburg

            each contact in contacts
              tr.hidden-md
                th=contact.label
                td
                  a.no-print-href(href=contact.url, aria-label=contact.label, rel="noreferrer")
                    i.icon(aria-hidden="true", class=contact.iconClass)
                    span.text=(contact.fullText||contact.text)


        section
          h2.no-print Key skills
          ul.skills
            li HTML
            li CSS
            li LESS
            li Pug
            li GIT
            li JavaScript
            li TypeScript
            li Angular
            li Webpack
            li NodeJS

        section
          h2 Experience
          ul.experience

            li.no-print 
              h3 2020

              .job.no-point
                h4.title Career
              .edu.no-point.no-line
                h4.title Education

            li.no-print 
              h3 2019
                span.merge
              .job
              .edu

            li
              h3 2018
              .job
                h4 
                  a(href="https://kaspersky.com", target="_blank", rel="noreferrer", aria-label="Kaspersky Lab.") Kaspersky Lab.
                p Developer

              .edu
                h4 Master`s degree
                p
                  a(href="https://narfu.ru", target="_blank", rel="noreferrer", aria-label="Northern (Arctic) Federal University") 
                    b Northern (Arctic) Federal University 
                p Higher School of Information Technologies and Automated Systems
                p 2016 &mdash; 2018

            li 
              h3 2017
                span.merge
              .job
                h4 
                  a(href="https://luxoft.com", target="_blank", rel="noreferrer", aria-label="Luxoft") Luxoft
                p Senior Frontend Developer
              .edu.no-print 

            li 
              h3 2016
              .job
                h4  
                  a(href="https://hashboard.ru", target="_blank", rel="noreferrer", aria-label="Hashboard") Hashboard
                p Frontend Developer
              .edu 
                h4 Bachelor`s degree
                p  
                  a(href="https://narfu.ru", target="_blank", rel="noreferrer", aria-label="Northern (Arctic) Federal University") 
                    b Northern (Arctic) Federal University 
                p Institute of Mathematics, Information and Space Technologies <br>
                p 2012 &mdash; 2016

            li
              h3 2015
                span.merge
              .job.no-line
                h4
                  a(href="http://primepix.ru", target="_blank", rel="noreferrer", aria-label="PrimePix") PrimePix
                p Junior Frontend Developer
              .edu.no-print 

            li.no-print 
              h3 2014
              .job.no-line
              .edu
                h4 Webmaster Courses

            li.no-print 
              h3 2013
              .job.no-line
              .edu

            li.no-print 
              h3 2012
              .job.no-line
              .edu
                h4 Initial commit
                p In 2012 I entered the university

          //- In 2012 I entered the university. Then in 2014, I passed through webmaster courses. In 2015, I got a job at PrimePix in the position of junior interface developer. In 2016, I graduated from the university, received a bachelor's degree in Mathematics, Information and Space Technologies and started working at Hashboard. In 2017, I moved to St. Petersburg and got a job at Luxoft. Later, in 2018, I started working at Kaspersky Lab. and got a master’s degree in Information Technologies and Automated Systems.

        section
          h2 Portfolio

          ul.portfolio
            each project in projects
              li
                h3
                  if project.url
                    a(href=project.url, target="_blank",  rel="noreferrer", aria-label=project.title)=project.title
                  else
                    span=project.title
                .description
                  .image.no-print(aria-hidden="true")
                    if project.url
                      a(href=project.url, target="_blank",  rel="noreferrer", aria-label=project.title)
                        picture
                          source(srcset="styles/images/projects/"+project.picture+".webp", type="image/webp")
                          source(srcset="styles/images/projects/"+project.picture+".jpg", type="image/jpeg")
                          img(src="styles/images/projects/"+project.picture+".jpg", alt=project.title)
                    else
                      picture
                        source(srcset="styles/images/projects/"+project.picture+".webp", type="image/webp")
                        source(srcset="styles/images/projects/"+project.picture+".jpg", type="image/jpeg")
                        img(src="styles/images/projects/"+project.picture+".jpg", alt=project.title)
                  h4 Contribution:
                  p= project.contribution
                  h4 Technologies:
                  ul
                    each tech in project.techList
                      li=tech

    svg(xmlns="http://www.w3.org/2000/svg", style="isolation:isolate")
      symbol(id="icon_email")
        :svg
          <defs>
            <clipPath id="a">
              <path d="M0 0h24v24H0z"/>
            </clipPath>
          </defs>
          <g clip-path="url(#a)">
            <mask id="b">
              <path d="M20 5.5H4c-.664.033-.987.389-1 1.038l9 7.166 9-7.076c-.039-.71-.362-1.076-1-1.128z" fill="#fff"/>
            </mask>
              <path d="M20 5.5H4c-.664.033-.987.389-1 1.038l9 7.166 9-7.076c-.039-.71-.362-1.076-1-1.128z" mask="url(#b)" vector-effect="non-scaling-stroke" stroke-width="2" stroke="#fff" fill="#fff" stroke-linejoin="round" stroke-linecap="round"/>
            <mask id="c">
              <path d="M3 7.452V18c.011.501.071.525 1 .5h16c.946-.023.958-.011 1-.5V7.543l-8.775 6.906a.37.37 0 0 1-.225.079.365.365 0 0 1-.225-.079L3 7.452z" fill="#fff"/>
            </mask>
            <path d="M3 7.452V18c.011.501.071.525 1 .5h16c.946-.023.958-.011 1-.5V7.543l-8.775 6.906a.37.37 0 0 1-.225.079.365.365 0 0 1-.225-.079L3 7.452z" mask="url(#c)" vector-effect="non-scaling-stroke" stroke-width="2" stroke="#fff" fill="#fff" stroke-linejoin="round" stroke-linecap="round"/>
          </g>
      symbol(id="icon_phone")
        :svg
          <defs>
              <clipPath id="a">
                  <path d="M0 0h24v24H0z"/>
              </clipPath>
          </defs>
          <g clip-path="url(#a)">
              <path fill="#fff" d="M20.023 15.488c-.63-.015-1.423-.052-1.924-.14a14.67 14.67 0 0 1-1.653-.425 1.017 1.017 0 0 0-1.019.253L13.21 17.38a15.376 15.376 0 0 1-3.798-2.792A15.376 15.376 0 0 1 6.62 10.79l2.204-2.218c.266-.267.365-.659.253-1.019-.142-.458-.329-1.11-.424-1.652-.089-.501-.125-1.294-.141-1.924A1 1 0 0 0 7.51 3H4c-.438 0-1 .328-1 1 0 4.539 1.84 8.874 4.966 12.034C11.126 19.16 15.461 21 20 21c.672 0 1-.562 1-1v-3.51a1 1 0 0 0-.977-1.002z"/>
          </g>
      symbol(id="icon_github")
        :svg
          <defs>
              <clipPath id="a">
                  <path d="M0 0h24v24H0z"/>
              </clipPath>
          </defs>
          <g clip-path="url(#a)">
              <path d="M12 2a9.51 9.51 0 0 0-9.513 9.513 9.507 9.507 0 0 0 6.505 9.025c.475.083.654-.202.654-.452 0-.226-.012-.975-.012-1.772-2.39.44-3.009-.582-3.199-1.118-.107-.273-.571-1.117-.975-1.343-.333-.179-.809-.619-.012-.63.749-.012 1.284.689 1.463.975.856 1.438 2.223 1.034 2.77.784.084-.618.333-1.034.607-1.272-2.117-.238-4.329-1.058-4.329-4.697a3.7 3.7 0 0 1 .976-2.556c-.096-.238-.429-1.213.095-2.521 0 0 .796-.25 2.616.975a8.825 8.825 0 0 1 2.378-.321 8.83 8.83 0 0 1 2.378.321c1.819-1.237 2.616-.975 2.616-.975.523 1.308.19 2.283.095 2.521.606.666.975 1.51.975 2.556 0 3.651-2.223 4.459-4.34 4.697.345.297.642.868.642 1.76 0 1.272-.012 2.295-.012 2.616 0 .25.179.547.654.452a9.528 9.528 0 0 0 6.481-9.025A9.51 9.51 0 0 0 12 2z" fill-rule="evenodd" fill="#FFF"/>
          </g>
      symbol(id="icon_location")
        :svg
          <defs>
              <clipPath id="a">
                  <path d="M0 0h16.29v24H0z"/>
              </clipPath>
          </defs>
          <g clip-path="url(#a)">
              <path fill="none" d="M0 0h16.29v24H0z"/>
              <path d="M8.145 0C3.654 0 0 3.654 0 8.145c0 1.805 1.063 4.55 3.344 8.638a92.13 92.13 0 0 0 3.172 5.245l1.12 1.698a.61.61 0 0 0 1.019 0l1.12-1.698c.064-.098 1.603-2.434 3.171-5.245 2.282-4.088 3.344-6.833 3.344-8.638C16.29 3.654 12.636 0 8.145 0zm3.736 16.188a90.427 90.427 0 0 1-3.125 5.168l-.611.926-.61-.926a91.14 91.14 0 0 1-3.125-5.168C2.294 12.396 1.221 9.69 1.221 8.145a6.932 6.932 0 0 1 6.924-6.924c3.818 0 6.925 3.106 6.925 6.924 0 1.545-1.073 4.251-3.189 8.043zM8.145 3.578a4.521 4.521 0 0 0-4.516 4.516 4.521 4.521 0 0 0 4.516 4.516 4.521 4.521 0 0 0 4.516-4.516 4.521 4.521 0 0 0-4.516-4.516zm0 7.812A3.3 3.3 0 0 1 4.85 8.094a3.299 3.299 0 0 1 3.295-3.295 3.3 3.3 0 0 1 3.296 3.295 3.3 3.3 0 0 1-3.296 3.296z" fill-rule="evenodd" fill="#FFF"/>
          </g>

    script(src="app.js")
