<!DOCTYPE html>
-
  var meta = {
    title: 'Artik Mangasaryan',
    name: 'Artik',
    description: 'Curriculum vitae',
    url: 'https://artik.me',
    card: 'styles/images/icons/card.jpg',
    color: '#10272f'
  };
  var iconsSizes = [128, 192, 256, 384, 512];
  var contacts = [
    {
      url: 'tel:+79062824201',
      label: 'Phone',
      iconClass: 'icon_phone',
      text: '+7 906 282 42 01'
    },
    {
      url: 'mailto:mail@artik.me',
      label: 'Email',
      iconClass: 'icon_email',
      text: 'mail@artik.me'
    },
    {
      url: '//hh.ru/resume/db6e39e7ff0357d63c0039ed1f617172787049',
      label: 'External CV',
      iconClass: 'icon_hh',
      text: 'HeadHunter'
    },
  ];
  var projects = [
    {
      title: 'Kaspersky: Managed Protection',
      picture: 'kmp',
      contribution: 'Front end development of threat-hunting sequrity service.',
      techList: ['Angular 7', 'TypeScript', 'Webpack']
    },
    {
      title: 'Kaspersky: Tailored Intelligence Reporting System',
      picture: 'kaspersky',
      contribution: 'Front end development of internal data collection/analysis portal for the analytical department.',
      techList: ['Angular 7', 'TypeScript', 'Webpack']
    },
    {
      title: 'Hashboard cabinet',
      url: '//new.hashboard.ru/cabinet/',
      picture: 'hashboard-cabinet',
      contribution: 'Front end development of #hashboard service. This web application uses client-side localization, HTML5 Audio/Video, the combination of AngularJS + RequireJS + REST API.',
      techList: ['AngularJS', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard player',
      url: '//new.hashboard.ru/play/?login=artik@hb.ru',
      picture: 'hashboard-player',
      contribution: 'Front end development of #hashboard service. This web application uses HTML5 Video and Audio, handles internet-connection troubles. Web site has a fluid layout.',
      techList: ['jQuery', 'RequireJS', 'REST']
    },
    {
      title: 'Hashboard',
      url: '//hashboard.ru',
      picture: 'hashboard',
      contribution: 'Front end development of #hashboard service. Cross-browser code, responsive layout, Website localization.',
      techList: ['jQuery', 'Bootstrap', 'LESS']
    },
    {
      title: 'Watches online shop «3–15»',
      url: 'http://primepix.ru/portfolio/3-15/',
      picture: 'm315',
      contribution: 'Front end web development, extension of bootstrap grid, CSS3-transitions.',
      techList: ['AngularJS', 'Bootstrap', 'Bitrix']
    },
    {
      title: 'Pricereporter',
      url: 'http://primepix.ru/portfolio/mgrabber/',
      picture: 'pr',
      contribution: 'Front end web development and technical support of a commercial site',
      techList: ['jQuery', 'Bootstrap', 'Bitrix']
    },
  ];
html(lang="en")
  head
    meta(charset="UTF-8")
    title=meta.title
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="CV, Mangasaryan, Artik, Artashes, frontend, front-end, Curriculum vitae, резюме, разработчик, фронтенд, фронтендер, Артик, Арташес, Мангасарян")
    meta(name="title", content=meta.title)
    meta(name="description", content=meta.description)
    meta(itemprop="image", content=meta.card)

    meta(name="twitter:domain", content=meta.url)
    meta(name="twitter:title", content=meta.title)
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content=meta.description)
    meta(name="twitter:image", content=meta.card)

    meta(property="og:url", content=meta.url)
    meta(property="og:title" ,content=meta.title)
    meta(property="og:type" ,content="website")
    meta(property="og:description" ,content=meta.description)
    meta(property="og:image", content=meta.card)

    link(rel="manifest", href="manifest.json")

    meta( name="mobile-web-app-capable", content="yes")
    meta( name="apple-mobile-web-app-capable", content="yes")
    meta( name="application-name", content=meta.name)
    meta( name="apple-mobile-web-app-title", content=meta.name)
    meta( name="theme-color", content=meta.color)
    meta( name="msapplication-navbutton-color", content=meta.color)
    meta( name="apple-mobile-web-app-status-bar-style", content="black")
    meta( name="msapplication-starturl", content="index.html")

    each size in iconsSizes
      link(sizes=(size+'x'+size) href=("styles/images/icons/icon-"+(size+'x'+size)+".png"), rel="icon")
      link(sizes=(size+'x'+size) href=("styles/images/icons/icon-"+(size+'x'+size)+".png"), rel="apple-touch-icon")

    link(rel="stylesheet", href="./styles/fonts/lato/font.css")
    link(rel="stylesheet", href="./styles/fonts/bebas/font.css")
    link(rel="stylesheet", href="./styles/styles.css")
  body
    .page
      header
        .container
          .flex
            .left-block
              a.logo(href="", aria-label=meta.title) AM
            ul.right-block.contacts
              each contact in contacts
                li
                  a(href=contact.url, aria-label=contact.label, rel="noreferrer")
                    i.icon(aria-hidden="true", class=contact.iconClass)
                    span.text=contact.text

      section
        .container
          h1 Artik <br>
            small Mangasaryan
          p.subtitle Frontend-developer

      section
        .container
          .about
            .ava-box 
              picture.ava
                source(srcset="styles/images/me.webp", type="image/webp")
                source(srcset="styles/images/me.jpg", type="image/jpeg")
                img(src="styles/images/me.jpg", alt=meta.title)
            table
              tr
                th Age
                td 
                  span#age 24 years
              tr
                th Commercial Experience
                td
                  span#exp 4 years
              tr
                th Languages
                td 
                  nobr Russian (native),
                  nobr English (Pre-Intermediate)
              tr
                th Current location
                td
                  a(target="_blank", href="//www.google.com/maps/place/St+Petersburg,+Russia/@59.9390095,29.5303098,9z/data=!3m1!4b1!4m5!3m4!1s0x4696378cc74a65ed:0x6dc7673fab848eff!8m2!3d59.9342802!4d30.3350986")
                    i.icon.icon_location
                    span &nbsp; Russia,&nbsp;
                      nobr St. Petersburg
              
              each contact in contacts
                tr.hidden-md
                  th=contact.label
                  td
                    a(href=contact.url, aria-label=contact.label, rel="noreferrer")
                      i.icon(aria-hidden="true", class=contact.iconClass)
                      span.text=contact.text
            div
              cite Heavy frameworks should be used only where necessary
            
      section
        .container
          h2 Key skills
          .skills
            ul
              li HTML
              li CSS
              li LESS
              li GIT
            ul
              li JavaScript
              li TypeScript
              li Angular
              li Webpack

      section
        .container
          h2 Experience
          .experience
            .table

              .tr
                .td.empty
                  h4.text-right Education
                .td &nbsp;
                .td
                  h4 Work
              .tr
                .td &nbsp;
                .td
                  .year
                    i.icon.icon_merge(aria-hidden="true")
                .td
                  .right

              .tr
                .td
                  .left
                    p.title Master`s degree
                    p.description 
                      b Northern (Arctic) Federal University 
                      <br>
                      | Higher School of Information Technologies and Automated Systems <br>
                      | 2016 &mdash; 2018
                .td
                  .year 2018
                .td
                  .right
                    p.title
                      a(href="//kaspersky.com", target="_blank", rel="noreferrer", aria-label="Kaspersky Lab.") Kaspersky Lab.
                    p.description Developer

              .tr
                .td &nbsp;
                .td
                  .year 2017
                    i.icon.icon_merge(aria-hidden="true")
                .td
                  .right
                    p.title
                      a(href="//luxoft.com", target="_blank", rel="noreferrer", aria-label="Luxoft") Luxoft
                    p.description Senior Frontend Developer

              .tr
                .td
                  .left
                    p.title Bachelor`s degree
                    p.description 
                      b Northern (Arctic) Federal University 
                      <br>
                      | Institute of Mathematics, Information and Space Technologies <br>
                      | 2012 &mdash; 2016
                .td
                  .year 2016
                .td
                  .right
                    p.title
                      a(href="//hashboard.ru", target="_blank", rel="noreferrer", aria-label="Hashboard") Hashboard
                    p.description Frontend Developer

              .tr
                .td &nbsp;
                .td
                  .year 2015
                    i.icon.icon_merge(aria-hidden="true")
                .td.empty
                  .right
                    p.title
                      a(href="http://primepix.ru", target="_blank", rel="noreferrer", aria-label="PrimePix") PrimePix
                    p.description Junior Frontend Developer

              .tr
                .td
                  .left
                    p.description Webmaster`s coursers
                .td
                  .year 2014
                .td.empty

              .tr
                .td &nbsp;
                .td
                  .year 2013
                .td.empty

              .tr
                .td
                  .left
                    p.title Initial commit
                    p.description In 2012 I entered the university
                .td
                  .year 2012
                .td.empty

      section
        .container
          h2 Projects
          each project in projects
            .project
              h3
                if project.url
                  a(href=project.url, target="_blank",  rel="noreferrer", aria-label=project.title)=project.title
                else
                  =project.title
              .description
                .image
                   if project.url
                    a(href=project.url, target="_blank",  rel="noreferrer", aria-label=project.title)
                      picture
                        source(srcset="styles/images/projects/"+project.picture+".webp", type="image/webp")
                        source(srcset="styles/images/projects/"+project.picture+".jpg", type="image/jpeg")
                        img(src="styles/images/projects/"+project.picture+".jpg", alt=project.title)
                   else
                    picture
                      source(srcset="styles/images/projects/"+project.picture+".webp", type="image/webp")
                      source(srcset="styles/images/projects/"+project.picture+".jpg", type="image/jpeg")
                      img(src="styles/images/projects/"+project.picture+".jpg", alt=project.title)
                h4 Contribution:
                p= project.contribution
                h4 Technologies:
                ul
                  each tech in project.techList
                    li=tech
    
  script(src="app.js")